@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


:root {
    --cyan: hsl(179, 62%, 43%);
    --cyan-bright: hsl(179, 62%, 66%, 1);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: rgb(255, 255, 255);
    --font-size: 16px;
}

* {
    box-sizing: border-box;
    list-style-type: none;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Karla';
    font-size: var(--font-size);
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    background-color: var(--light-gray);
}

main {
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    border-radius: 10px;
    min-width: 650px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

h2 {
    color: var(--cyan)
}

a {
    color: var(--bright-yellow)
}

.bottom {
    display: flex;
    color: white;
           
}

.bottom-section {
    width: 50%;
    padding: 1rem;
}

button {
    display: flex;
    align-self: center;
    background-color: var(--bright-yellow);
    border-radius: 10px;
    font-family: 'Karla';
    color: white;
}

.price {
    background-color: var(--cyan);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 0 10px;

}

.info {
    background-color: var(--cyan-bright);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 10px 0;
           
}